:root {
    background-color: white;
}

h1 {
    background-color: darkblue;
    color:white;
    text-align: center;
    padding:10px
}

.full-size {
    width: 100%;
}

.uv_low {
    background-color: green;
    color:white;
    width: 50 px;
    border: solid 1px white;
}

.uv_mod {
    background-color: yellow;
    color:black;
    width: 50 px;
    border: solid 1px white;
}

.uv_high {
    background-color: orange;
    color:black;
    width: 50 px;
    border: solid 1px white;
}

.uv_very_high {
    background-color: red;
    color:white;
    width: 50 px;
    border: solid 1px white;
}