h1 {
    background-color: darkblue;
    color:white;
    text-align: center;
    padding:10px;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

body {
    font-family: 'Barlow Semi Condensed', sans-serif;
}

.full-size {
    width: 100%;
    font-size: 16px;
}

.capitalize {
    text-transform: capitalize;
}

.body_text {
    font-size: 24px;
}

.button-checked {
    opacity: 1;
}

.button-unchecked {
    opacity: 0.5;
}

.uv_low {
    background-color: green;
    color:white;
    width: 50 px;
    border: solid 1px white;
}

.uv_mod {
    background-color: yellow;
    color:black;
    width: 50 px;
    border: solid 1px white;
}

.uv_high {
    background-color: orange;
    color:black;
    width: 50 px;
    border: solid 1px white;
}

.uv_very_high {
    background-color: red;
    color:white;
    width: 50 px;
    border: solid 1px white;
}

.daily_card {
    font-size: 14px;
}

.city-list-item {  
    border: solid 1px white; 
    clip-path: polygon( 
      calc(0% + 5px) calc(0% + 5px), /* top left */
      calc(100% - 5px) calc(0% + 5px), /* top right */
      calc(100% - 5px) calc(100% - 5px), /* bottom right */
      calc(0% + 5px) calc(100% - 5px) /* bottom left */
    );
    transition: clip-path 0.3s linear;
  }

.city-list-item:hover {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}